    *{
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }
    .row::after{
        content: "";
        clear: both;
        display: table;
    }
    .container{
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .row{
        margin-left: -5px;
    }
    .column1,
    .column2,
    .column3,
    .column4,
    .column5,
    .column6,
    .column7,
    .column8,
    .column9,
    .column10,
    .column11,
    .column12{
        float: left;
        border: 2px dashed #ddd;
        padding-top: 15px;
        text-align: center;
        margin-top: 10px;
    }
    .column6{
        width: 50%;
    }
    .column4{
        width: 33.33333333%;
    }
    .column3{
        width:25%;
    }
    .column2{
        width: 16.66666666%;
    }
    .column1{
        width: 8.33333333%;
    }
    .column11{
        width: 91.66666666%;
    }
    .column10{
        width: 83.3333333%;
    }
    .column9{
        width: 74.999999999%;
    }
    .column8{
        width: 66.66666666%;
    }
    .column7{
        width: 58.33333333%;
    }
    .column5{
        width: 41.66666666%;
    }
    @media screen and (max-width: 767px) {
    .column1,
    .column2,
    .column3,
    .column4,
    .column5,
    .column6,
    .column7,
    .column8,
    .column9,
    .column10,
    .column11,
    .column12{
          width: 100%;
        }
      }
